<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Welcome{% endblock %} | {{ blog.title }}</title>

        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('css/normalize.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/blog.css')   }}"     rel="stylesheet" type="text/css">
            <link href="{{ asset('css/print.css')     }}" rel="stylesheet" type="text/css" media="print">
        {% endblock %}

        {% block favicons %}
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        {% endblock %}

        {% block headers %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ route('Blog', 'feed') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% for notification in UINotification %}
            {% include 'part/alert-message.twig' with notification only %}
        {% endfor %}
        <div class="page">
            <div class="header">
                <div class="container">
                    <div class="header-logo">
                        <a href="{{ route('Blog', 'home') }}">
                            <img src="{{ public( blog.logo.path ) }}" alt="{{ blog.logo.alt }}"/>
                        </a>
                    </div>
                    <ul class="header-menu">
                        {% for page in pages %}
                            {% set href = public(page.id) %}
                            {% if page.id == 'index' %}
                                {% set href = route('Blog', 'home') %}
                            {% endif %}
                            <li class="header-menuItem"><a href="{{ href }}">{{ page.label }}</a></li>
                        {% endfor %}

                        {% block headerLinks %}{% endblock %}
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block scripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="{{ asset('js/blog.js') }}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>

