{% extends "layout/index.twig" %}

{% set page = content %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="{{ page.intro }}">
    <link rel="author" href="https://plus.google.com/103273842481440217381/"/>
{% endblock %}

{% block content %}
    <h1 class="content-title">
        {{ page.title }}
    </h1>

    {% autoescape false %}
        {{ page.content }}
    {% endautoescape %}
{% endblock %}