{% extends "layout/index.twig" %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h1 class="content-title">Articles</h1>
    {% for section in articles %}
        <h2 id="{{ section.id }}">
            <a href="#{{ section.id }}">{{ section.name }}</a>
        </h2>
        {% for subsection in section.subsections %}
            <h3 id="{{ section.id }}-{{ subsection.id }}">
                <a href="#{{ section.id }}-{{ subsection.id }}">{{ subsection.name }}</a>
            </h3>
            <ul class="content-articleList">
                {% for article in subsection.articles %}
                    <li>
                        {% include 'part/articleListItem.twig' %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}